 <style>
    #booknowsection1{
      background-color: "red";
    }
  </style>
<div id="booknowsection1" class="shopify-section index-section">

<div class="page-width feature-row">
  

  <div class="feature-row">
    
	<div class="text__container">
    <div class="feature-row__item feature-row__text feature-row__text--right">
      
        <h2 class="h3">Make you reservation</h2>
      
      
        <div class="rte rte-setting featured-row__subtext"><p>Crafted from the finest natural ingredients on the planet, <strong>Slickhare </strong>was established to create the best a man can get from a hair product. Born from the city but from humble beginnings, slick knows what it takes to be the coolest rabbit in the room. From stylish, classy easy-going…</p></div>
      
      
<a href="/pages/about-us" class="btn" aria-label="Read more: About Us">Read more</a>
      
    </div>
    </div>
    
      
    <div class="feature-row__item">
      <div class="feature-gif">
      <img src="https://media.giphy.com/media/Caij7jGhmndyfzh4Lg/giphy.gif">
        <div class="gif-overlay"></div>
      </div>
    </div>
  
    
  </div>
</div>




</div>