<style>
  .main-funnel-frequently-asked-question {
    background:#F9F6EF;;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
}
  .main-funnel-frequently-asked-question .container{
    max-width:1920px;
    margin:0px auto;
  }

.main-funnel-frequently-asked-question .row {
    display: flex;
    width: 100%;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}
.main-funnel-frequently-asked-question .col-lg-4 {
    max-width: 33.33%;
    width:31.33%;
}
.main-funnel-frequently-asked-question .section_heading h1{
   color: #100;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin-bottom:23px;
}
 .col-lg-12{
   max-width:100%;
   width:100%;
 }
  .faq_content_wrapper{
    padding:30px;
    background-color:#fff;
  }


   /*accordion*/
.accordion-main {
    border-radius: 8px;
    border: 1px solid #b9b9b9;
    background: #FFF;
    padding: 20px 40px;
    margin-bottom:24px
}
  .accordion-main:last-child .accordion_body{
    padding-bottom: 0;
  }
  .accordion_head {
    background-color:transparent;
    cursor: pointer;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion_body {
    background: transparent;
    font-size: 18px;
    text-align:left;
    color: rgba(0, 0, 0, 0.80);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family:  "Oswald", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top:13px;
  }
  .accordion_body img{
    width: 100%;
    max-width: 230px;
    margin-bottom: 30px;
  }
  .accordion_body p {
    margin: 0px;
    color: #000000;
  }
  .accordion_body h3,
  .div-bott h3{
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0;
    color: #1e352e;
  }
  .div-bott h3{
  font-size: 35px;
  }
  .div-bott{
  text-align:center;
  }
  .div-bott p{
  font-size:24px;
  }
  .plusminus {
    float: right;
    margin-top: 0;
    font-weight: normal;
    font-family: auto;
    font-size: 26px;
  }
  .coll-back{
   color: #D3A640;
  }
  .hr-clc{
    height: 1px;
    background: #111;
    width: 14px;
    padding: 0;
    border: 0;
    margin:0;
  }

  /*media queries*/
  @media (min-width:992px) and (max-width:1100px){
    .pockets-main p {
      font-size: 22px;
      width: 684px;
      margin:0 auto;
      margin-bottom: 20px !important;
    }
   
   
  }
  @media (min-width: 768px) and (max-width: 991px){
    .pockets-main {
      padding: 30px 15px;
    }
    .pockets-main h1 {
      font-size: 45px;
      margin: 0 0px 20px;
    }
    .pockets-main p {
      font-size: 20px !important;
      margin-bottom: 20px !important;
      width: 600px;
      margin: 0 auto;
    }
    .intro-cont h3,
    .div-bott h3{
      font-size: 30px;
      margin: 35px 0;
    }
    .kind h2 {
      font-size: 30px;
      margin: 35px 0 30px;
    }
    .accordion_head {
      font-size: 20px;
      padding: 11px 18px;
    }
    .plusminus {
      font-size: 27px;
      margin-top: -5px;
    }
    .accordion-main {
      margin-bottom: 24px;
    }
    .hr-clc {
      margin-top: 16px;
      width: 15px;
      margin-left: -15px;
    }
    .accordion_body {
      font-size: 18px;
    }
    .accordion_body img {
      width: 100%;
      max-width: 185px;
      margin-bottom: 20px;
    }
    .accordion_body h3 {
      font-size: 24px;
    }
  }

  @media (min-width: 576px) and (max-width: 767px){
    .pockets-main {
      padding: 35px 15px;
    }
    .pockets-main h1 {
      font-size: 40px;
      margin: 0 0px 30px;
    }
    .pockets-main p {
      font-size: 18px !important;
      margin-bottom: 20px !important;
      width: 400px;
      margin: 0 auto;
    }
    .intro-cont h3,
    .div-bott h3{
      font-size: 26px;
      width: 400px;
      margin: 30px auto;
      line-height: 1.2 !important;
    }
    .div-bott h3{
    width:unset;
    }
    .kind h2 {
      font-size: 26px;
      margin: 30px 0 30px;
    }
    .accordion_head {
      font-size: 18px;
      padding: 10px 15px;
      line-height:normal;
    }
    .accordion-main {
      margin-bottom: 25px;
    }
    .plusminus {
      font-size: 30px;
      margin-top: -5px;
    }

    .accordion_body img {
      max-width: 170px;
      margin-bottom: 20px;
    }
    .hr-clc {
      margin-top: 17px;
      width: 16px;
    }
    .accordion_body h3 {
      font-size: 22px;
      margin: 15px 0;
    }
  }
  @media (max-width:575px){
    .pockets-main{
      padding:15px 0px;
    }
    .pockets-main h1 {
      font-size: 30px;
      margin: 0 0px 15px;
    }
    .pockets-main p {
      font-size: 16px !important;
      margin-bottom: 15px !important;
    }
    .intro-cont h3,
    .kind h2,
    .div-bott h3{
      margin: 30px 0px;
      line-height: normal !important;
      font-size:24px;
    }
    .accordion_head {
      font-size: 18px;
      padding: 8px 12px;
      line-height:normal;
    }
    .plusminus {
      font-size: 27px;
      margin-top: -7px;
    }
    .accordion-main {
      margin-bottom: 22px;
    }
    .accordion_body {
      font-size: 18px;
      padding: 20px 20px 5px;
    }
    .accordion_body img {
      max-width: 150px;
      margin-bottom: 20px;
    }
    .accordion_body h3 {
      font-size: 18px;
      margin: 10px 0;
      line-height: normal;
    }
    .hr-clc {
      height: 2px;
      margin-top: 16px;
      width: 15px;
      margin-left: -15px;
    }
  }
      @media only screen and (max-width:992px) {
         .main-funnel-frequently-asked-question{
           padding:50px;
         }
      }
          @media only screen and (max-width:768px) {
         .main-funnel-frequently-asked-question{
           padding:20px;
         }
            .main-funnel-frequently-asked-question .section_heading h1{
              font-size:32px;
              line-height:normal;
              text-align:center;
              }
            .accordion-main{
              padding:0;
            }
            .faq_content_wrapper {
               padding: 20px;
            }
            
      }
</style>
<div class="main-funnel-frequently-asked-question">
   <div class="container">
        {% if section.settings.heading !=blank %}
        <div class="section_heading">
           <h1>{{ section.settings.heading }}</h1>
        </div>
        {% endif %}
     <div class="row">
       
         <div class="col-lg-12">
           <div class="faq_content_wrapper">
            {% for block in section.blocks %}
       <div class="accordion-main">
         {% if block.settings.heading !=blank %}
          <div class="accordion_head">{{ block.settings.heading }}<span class="plusminus">+</span></div>
        {% endif %}
          <div class="accordion_body" id="a1" style="display: none;">
            {{ block.settings.content }}
          </div>
        </div>
            {% endfor %}

           </div>
       </div>
  


  
     </div>

     

   </div>
</div>
<script>
  $(document).ready(function() {
    //toggle the component with class accordion_body
    $(".accordion_head").click(function() {
      $(this).removeClass('coll-back');
      if ($('.accordion_body').is(':visible')) {
        $(".accordion_body").slideUp(300);
        $(".plusminus").text('+');
        $(this).removeClass('coll-back');
        $('.rmv-cls').removeClass('coll-back');
      }

      if($(this).next(".accordion_body").is(':visible')) {
        $(this).next(".accordion_body").slideUp(300);
        $(this).children(".plusminus").text('+');
        $(this).removeClass('coll-back');
      }else {
        $(this).next(".accordion_body").slideDown(300);
        $(this).children(".plusminus").text('');
        $(this).children(".plusminus").append('<hr class="hr-clc">');
        $(this).toggleClass('coll-back');
        $(this).addClass('rmv-cls');
      }
    });
  });
</script>
{% schema %}
  {
    "name": "Funnel FAQs",
    "class":"funnel-frequently-asked-question",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Section Heading",
        "default":"Frequently Asked Questions (FAQ)"
       }
    ],
     "blocks":[
      {
        "type":"faq",
        "name":"FAQ",
        "settings":[
          {
            "type":"text",
            "id":"heading",
            "label":"Faq Question"
          },
          {
            "type":"richtext",
            "id":"content",
            "label":"Faq Answer"
          }

        ]
      }
    ],
    "presets": [
      {
        "name":"Funnel FAQs"
      }
    ]
  }
{% endschema %}