<div class="">
  <div class="grid">
    <div class="grid__item">
      

      <div class="rte">
        {{ page.content }}
        {% section 'image-text' %}
        {% section 'rich-text-img' %}
        {% section '3-img-block' %}
      </div>
    </div>
  </div>
</div>

